<div class="container">
  <div class="logo">
    <a [routerLink]="['../homePage']"><img src="../../assets/cashRoyaleLogo.png"></a>
  </div>
  <div class="login">
    <div class="signinCaption">
      <h1>Sign In</h1>
    </div>
    <div class="signupForm">
      <form>
        <div class="form-group">
          Email <input id="email" class="form-control" name="name" type="email">
        </div>

        <div class="form-group">
          Password <input type="password" class="form-control" name="password">
        </div>
        <a [routerLink]="['../dashboardPage']" class="myButton" id="linkSignIn">Sign In</a>
      </form>
    </div>
    <div class="forgotPassword">
      <a [routerLink]="['../loginPage']" id="forgotPassword">Forget your password? Click Here.</a>
    </div>
    <div class="getAccount">
      <a [routerLink]="['../loginPage']">Don't have an account? Get one now.</a>
    </div>
  </div>
</div>
