
#dashboardPageDefault {
display: flex;
  width: 100%;
  text-align: center;
  chart {
    margin: 30px;
    margin-top: 60px;
    display: inline-block;
  }

  .br-fix {

  }



}
@media screen and (max-width: 1450px) {

  #dashboardPageDefault {
   display: block;
    .triggerDiv {
      display: block;
    }
  }
}
