<div id="checkBookMainContainer">
  <div class="overlay" [ngClass]="{menuShow: menuState}" (click)="toggleMenu()"></div>
  <div class="header">
    <div class="checkbook" (click)="toggleMenu()">
      <h1 class="item checkbookHeader">Checkbooks</h1>
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="addingCheckbook" [routerLink]="['../addCheckbook']">
      <h3 class="item">Add Checkbook/Item</h3>
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
    </div>
  </div>
  <div id="checkbookHeader">
    <div id="checkbookHeaderWords">
      <h1>Checkbook Title</h1>
    </div>
  </div>

  <div id="checkbookSubHeaders">
    <h3 class="subHeader">Date</h3>
    <h3 class="subHeader">Deposit/Withdraw</h3>
    <h3 class="subHeader">Description</h3>
    <h3 class="subHeader">New Balance</h3>
  </div>

  <div id="checkbookContent">
    <div class="checkbookContent" *ngFor="let checkbook of checkbookData;">
      <p class="checkbookItem">{{checkbook.date}}</p>
      <p class="checkbookItem">{{checkbook.money}}</p>
      <p class="checkbookItem">{{checkbook.description}}</p>
      <p class="checkbookItem">${{checkbook.newAmount}}</p>
    </div>
  </div>

  <div class="slidingMenu" [ngClass]="{menuShow: menuState}">
    <i class="fa fa-times x" aria-hidden="true" (click)="toggleMenu()"></i>
    <div id="menuHeader">
      <h1>Checkbooks</h1>
    </div>
    <div class="checkbooks" *ngFor="let checkbook of checkbooks">
      <p>{{checkbook}}</p>
    </div>
  </div>
</div>
