/* You can add global styles to this file, and also import other style files */
html, body, h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

html, body {
  height: 100%;
}

//Global style variables to use in application
//colors
$darkGreen: #96CA2D;
$lightGreen: #B5E655;
$background: #EDF7F2;
$darkBlue: #4BB5C1;
$darkDarkGreen: #002F2F;
$lightBlue: #7FC6BC;
$navyBlue: #296C83;
//fonts
$bodyFontSize: 16px;
$subFontSize: 24px;
$headFontSize: 48px;
$largeFont: 'Roboto', sans-serif;


