<div class="main">
  <!-- Top Navigation -->
  <div class="cctop clearfix">
  </div>

  <div class="wrapper">

    <div class="ccparallaxeff">
      <div class="header">
        <img src="../../assets/cashRoyaleLogo.png" class="logo">
        <a [routerLink]="['../loginPage']" class="myButton" id="loginButton">Login</a>
        <a href="#signup" class="myButton" id="signupButton">Sign Up</a>

      </div>
      <div class="crt-parallaxvideo">
        <video autoplay muted loop>
          <source src="../../assets/High-Lines/MP4/High-Lines.mp4" type="video/mp4">
          <source src="../../assets/High-Lines/WEBM/High-Lines.webm" type="video/ogg">
        </video>
        <div class="stupidLeftContainer">
          <h1>Cash Royale</h1>
          <h3>Free your finances.</h3>
        </div>
      </div>
      <div class="plax content">
        <div class="container">
          <div class="contentarea intro">
            <h3>Fight To Become Financially Secure.</h3>
            <p>Cash Royale helps you become more financially secure with our many budget building features.</p>
          </div>
          <div class="examples">
            <p>Understand the big picture easier with dynamic graphs</p>
            <img class="graphIMG" src="../../assets/linegraphExample.png">
            <img class="graphIMG" src="../../assets/piechartExample.png">
          </div>
          <div class="interfaceExamples">
            <p>Easily construct a budget using our built in budget and checkbook tools</p>
            <img class="graphIMG" src="../../assets/budgetScreenshot.png">
            <img class="graphIMG" src="../../assets/checkbookScreenshot.png">
          </div>

        </div>
      </div>
      <div class="plax ccparallax ccparallax-three" id="signup">
        <div class="container signUp">
          <div class="signupCaption">
            <h1 id="signupCaption">Sign Up Today</h1>
          </div>
          <div class="signupForm">
            <form #registerForm="ngForm">
              <div class="form-group">
                Name <input id="name" name="name" required type="text" [(ngModel)]="user.name">
              </div>
              <div class="form-group">
                Email <input id="email" name="email" required type="email" [(ngModel)]="user.email">
              </div>
              <div class="form-group">
                Password <input type="password" minlength="8" required name="password" [(ngModel)]="user.password">
              </div>
              <button type="button" (click)="registerUser()" [disabled]="!registerForm.form.valid" class="myButton" id="linkSignIn">Sign Up</button>
            </form>
          </div>
        </div>
      </div>

      <div class="plax content">
        <div class="container footer-distributed">
          <div class="footer-right">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

          </div>

          <div class="footer-left">

            <p class="footer-links">
              <a href="#">Home</a>
              ·
              <a href="#">Blog</a>
              ·
              <a href="#">Pricing</a>
              ·
              <a href="#">About</a>
              ·
              <a href="#">Faq</a>
              ·
              <a href="#">Contact</a>
            </p>

            <p>Cash Royale &copy; 2017</p>
          </div>
        </div>
      </div>
    </div>

  </div>


</div><!-- /container -->
