@import '../../styles.scss';

.container {
  font-size: 16px;
  max-width: 960px;
  margin: 0 auto;
}

.crt-parallaxvideo{
  height: 500px;
  padding-bottom: 50px;
  padding-top: 50px;

}
.crt-parallaxvideo video{
  min-width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -100;

}
.crt-parallaxvideo h1 {
  color: white;
  font-family: $headFontSize;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.plax.ccparallax-three {
  background-image: url("../../assets/paralaxOpt.jpg");
}


.plax:last-child {
  margin-bottom: 0;
}
.plax.ccparallax {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 44vh;
  padding-top: 44vh;
}
.plax.content {
  background: none repeat scroll 0 0 $darkDarkGreen;
  padding: 42px 0;

}

.plax .headlines h1 {
  color: #fff;
  font-family: $largeFont;
  font-size: $headFontSize;
  margin: 0;
  text-align: center;
}

h3{
  font-size: $subFontSize;
}

.motivList{
  padding-top: 20px;
  .motivListItem{
     padding: 15px 0 0 30px;
   }
}
.stupidLeftContainer{
  margin: 5% auto auto 15%;
  h1, h3{
    color: white;
    font-family: $largeFont !important;
    font-weight: 200 !important;
  }
}

.signUp{
  display: flex;
  width: 80%;
  .signupCaption{
    #signupCaption{
      color: white;
      font-family: $largeFont !important;
      font-weight: 200 !important;
    }
    margin: auto;
    color: white;
    font-family: $largeFont;
    font-size: $subFontSize;
    font-weight: 700;
    text-transform: uppercase;
  }
  .signupForm{
    background:rgba(0,0,0,0.5);
    opacity: 1;
    color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    div{
      margin: 8px auto;
      #email{
        margin-left: 32px;
      }
      #name{
        margin-left: 27px;
      }
    }
    .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }
  }
}

.header{
  .logo{
    width: 80px;
  }
}
.myButton {
  float: right;
  margin: 10px 15px auto auto;
  background-color:transparent;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid white;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: $subFontSize;
  font-size:18px;
  padding:7px 25px;
  text-decoration:none;
}
.myButton:hover {
  background-color: transparent;
}
.myButton:active {
  position:relative;
  top:1px;
}
#linkSignIn{
  margin-right: 60px;
}

.intro{
  text-align: center;
  color: white;
  h3{
    text-transform: uppercase;
    margin-bottom: 20px;
    height: auto;
    font-size: 24px;
  }
}
.examples{
  color: white;
  text-align: center;
  margin-top: 5vh;
}

.interfaceExamples{
  color: white;
  margin-top: 5vh;
  text-align: center;
}

.graphIMG {
  padding: 15px;
  width: 350px;
  height: 200px;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;

  padding: 45px 50px;
  margin-top: 0px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 16px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 0px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}


@media (max-width: 667px) {
  //not triggering after the .container for an unknown reason, ask mario
  .container{
    width: 85%;
  }
  .signupCaption{
    font-size: 5px;
  }
  .signupForm {
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #5b5b5b;
    border-radius: 8px;
    div {
      margin: 8px auto;
      #email {
        margin-left: 0;
      }
    }
  }
}



