@import '../app.component.scss';
body, html {
  overflow: hidden;
}
html, body, h1, h2, h3, h4, h5, h6, p, div, span, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

#dashboardPage {
  #topNav {
    margin-left: 120px;
    color: white;
    height: 60px;
    width: calc(100% - 120px);
    h4 {
      float: right;
      margin-top: 20px;
      margin-right: 20px;
    }
    i.fa {
      display: none;
      padding: 20px;
      height: 70px;
      vertical-align: middle;
    }
    background-color: $darkBlue;

  }
  #sideNav {
    top: 0;
    position: fixed;
  text-align: center;
    background-color: #273038;
    width: 120px;
    height: 100vh;

    .leftTopNavIMG {
      width: 100%;

      background-color: #296c83;
    }
    #close-button {
      display: none;
    }
    a {
      text-decoration: none;
      color: white;
      :hover {
        background-color: #4BB5C1;
      }

      .nav-item {
        padding: 25px 0;
        display: block;
      }
      .nav-item.first {
        margin-top: -5px;
      }

    }


  }

  #mainContent {
    background-color: #EDF7F2;
    margin:   0 0 0 120px;
    width: calc(100% - 120px);
    display: inline-block;
  }

  @media screen and (max-width: 850px) {
    #sideNav {
      display: none;
    }
    #sideNav.sidenav-open {

      cursor: pointer;
      min-width: 350px;
      width: 50vw;
      z-index: 99;
      display: inline-block;
      position: fixed;
      text-align: left;

      .leftTopNavIMG {
        max-width: 100px;
      }

      #close-button {
        color: white;
        width: 100px;
        height: 100px;
        display: inline-block;
      }

      a .nav-item {
        padding-left: 30px;
      }
    }
    #mainContent {
      text-align: center;
      margin: 0 auto;

    }
    #topNav {
      margin-left: 0;
      width: 100%;
      i.fa {
        display: inline-block;
      }
    }
  }
}
