<div id="container">
  <div id="createCheckbookContainer">
    <h1>Create a Checkbook</h1>
    <div>
      <h4>Checkbook Name:</h4>
      <input class="inputBox" type="text" placeholder="Checkbook Name" [(ngModel)]="checkbookName">
    </div>
    <div class="submitButton" (click)="addNewCheckbook()">Submit</div>
  </div>
  <div id="createItemContainer">
    <h1>Create checkbook item for (add which checkbook here)</h1>
    <div class="inputItem">
      <h4>Date:</h4>
      <input class="inputBox" type="text" placeholder="Date" [(ngModel)]="date">
    </div>
    <div class="inputItem">
      <h4>Add/Subtract</h4>
      <select [(ngModel)]="plusMinus">
        <option *ngFor="let stuff of plusMinusInfo">{{stuff}}</option>
      </select>
    </div>
    <div class="inputItem">
      <h4>Deposit/Withdraw</h4>
      <input class="inputBox" type="text" placeholder="Deposit/Withdraw" [(ngModel)]="money">
    </div>
    <div class="inputItem">
      <h4>Description</h4>
      <input class="inputBox" type="text" placeholder="Description" [(ngModel)]="description">
    </div>


    <div class="submitButton" (click)="addNewItem()">Submit</div>
  </div>

</div>
